$colors: (
  dark: (
    100: #1A1A1A,
    200: #666666,
    300: #999999,
    400: #414141,
    500: #333333,
    600: #292929
  ),
  light: (
    100: #FFFFFF,
    200: #FAFAFA,
    300: #f6f6f6,
    400: #ededed
  ),
  success: (
    100: #19B373,
    200: #a3e1c7,
    300: #d1f0e3,
    400: #E9FCF4
  ),
  danger: (
    100: #ED4553,
    200: #ef5864,
    300: #f16a75,
    400: #f48f98,
    500: #FCE8E9
  )
)