$font-sizes: (
  base: 16px,
  small: 14px,
  large: 20px,
  h1: 52px,
  h2: 38px,
  h3: 28px,
  h4: 24px,
);

$font-weights: (
  light: 300,
  regular: 400,
  semibold: 500,
  bold: 700
);

$line-heights: (
  small: 28px,
  base: 34px,
  medium: 42px,
  large: 54px,
  xl: 68px,
  xxl: 96px
)
